html {
  font-size: 14px;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e8a7c9;
    font-family: sans-serif;
}

#movieImage, #actorImage, #movieActorImage {
    width: 25%;
    height: 25%;
}

#labels, #actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 34px;
    border: 1px solid black;
    padding: 0 14px;
}

#disclaimer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 175px;
    flex-direction: column;
   
    
    
}




