<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/473ac57f-17d7-4fa9-86ea-537fdbd7b209/resourceGroups/Fall2024-Assignment3-hrhazelwood-ResourceGroup/providers/Microsoft.Web/sites/Fall2024-Assignment3-hrhazelwood</ResourceId>
    <ResourceGroup>Fall2024-Assignment3-hrhazelwood-ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall2024-assignment3-hrhazelwood.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment3-hrhazelwood.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall2024-Assignment3-hrhazelwood</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>