@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Explore our database of movies and actors! Use the navigation at the top of the page to get started!</p>
    <div id="grid">
        <div id="actions">
            <img id="movieImage" src="https://cdn-icons-png.flaticon.com/512/4831/4831192.png" />
            <img id="actorImage" src="https://cdn-icons-png.flaticon.com/512/475/475283.png" />
            <img id="movieActorImage" src="https://cdn-icons-png.flaticon.com/512/9104/9104916.png"/>
        </div>
        <div id="labels">
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;View Movies</h3>
            <h3>&nbsp;&nbsp;View Actors</h3>
            <h3>View Actor/Movie</h3>
        </div>
    </div>
    <div id="disclaimer">
        <h2>Disclaimer</h2>
        <p>This site utilizes an OpenAI API to generate reviews and tweets. Due to the unpredictable nature of a student version API, some factors of performance may be affected</p>
        <p>When attempting to view details for a movie or actor, the page may take a few seconds to open. It is best to just let it load and not attempt to open the link again</p>
        <p>When viewing the reviews or tweets, there is a chance that the AI has not followed directions and generated something that does not fit the correct format. If this happens, reloading the page or reopening the details should fix it eventually </p>
    </div>
</div>

