@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Explore our database of movies and actors! Use the navigation at the top of the page to get started!</p>
    <div id="actions">
        <img id="movieImage" src="https://cdn-icons-png.flaticon.com/512/4831/4831192.png"/>
        <img id="actorImage" src="https://cdn-icons-png.flaticon.com/512/475/475283.png" />
        <img id="movieActorImage" src="https://cdn-icons-png.flaticon.com/512/9104/9104916.png"
    </div>
    
</div>

